@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --softRed: hsl(14, 88%, 65%);
  --veryDarkGrayBlue: hsl(237, 12%, 33%);
  --darkGrayBlue: hsl(240, 6%, 50%);
  --lightGrayBlue: hsl(240, 5%, 91%);
  --fontSize: 12px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: var(--fontSize);
}

.answer {
  font-size: 18px ;
}
.question-answer__accordion > .answer {
  display: none;
}

.active > .answer {
  display: block;
  padding-bottom: 1.3rem;
  color: var(--darkGrayBlue);
}

.active img {
  transform: rotate(180deg);
  transition: all 0.3s ease-in;
}

.accordion__wrapper {
  margin-top: 65px;

  display: flex;
  flex-direction: column;
}

.questions__accordions {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.question-answer__accordion {
  width: 850px;
  border-bottom: 1px solid #e8e8ea;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.title__accordion {
  font-size: 3rem;
  margin-top: 0px;
}

.title__question {
  font-weight: bold;
  font-size: 20px;
  color: #D8B358;
  margin: 1.4rem 0rem;
}

.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.4s;
}

.active h3 {
  font-weight: 700;
}

.question img {
  align-self: center;
}

.image__wrapper {
  position: relative;
}

.image__wrapper_inner {
  background: url(/images/illustration-woman-online-desktop.svg);
  height: 100%;
  background-repeat: no-repeat;
  background-position: 120% center;
}

.box {
  position: absolute;
  height: 510px;
  top: 0;
  left: 15px;
}
.hoeren-title {
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.hno {
  font-size: 17px;
  margin-bottom: 10px;
}
@media (max-width: 700px) {
  .hoeren-title {
    font-size: 23px;
  }
  .answer {
    font-size: 15px;
  }
  .hno {
    font-size: 14px
  }
  .title__question {
    font-size: 17px;
  }
  .question-answer__accordion {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 30px;
  }
  .title__accordion {
    text-align: center;
  }
}