.logo-picture {
  height: 120px;
  margin-right: 4px;

}
.img-fluid {
  height: 400px;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.video {
  -webkit-filter: blur(2px);
    filter: blur(2px);
}
