.title-firma {
  font-family: Helveitca, Arial;
  font-weight: bold;
  color: #D8B358;
  margin-bottom: -3px;
}
.tm-page-header {
  margin-bottom: 50px;
}
.werbung-video-img {
  height: 750px;
  position: absolute;
  bottom: -150px;
  right: -100px;
  z-index: 1100;
}
.horgen-img {
  height: 70px;
  position: absolute;
  top: 50px;
  right: -250px;
  -webkit-transform:rotate(12deg);
  -moz-transform: rotate(12deg);
  -ms-transform: rotate(12deg);
  -o-transform: rotate(12deg);
  transform: rotate(12deg);
}

@media (max-width: 1700px) {
  .werbung-video-img {
    opacity: 0;
  }
  .horgen-img {
    opacity: 0;
  }
}
.right-side-title {
  font-family: Helveitca, Arial;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  align-items: flex-start;
}
.mass-text {
  color: black;
  font-size: 20px;
  margin-left: 2px;
  margin-top: 0;
  font-weight: bold;
  align-items: flex-start;
}
.tm-feature-block {
  transition: box-shadow 0.3s, border-color 0.3s, border-style 0.3s ;
  padding: 30px;
  border-radius: 10px;
  z-index: 200;
  margin-top: 0;
  border: none;
  border-color: #D8B358;
}

.tm-feature-block:hover {
  box-shadow: 5px 5px 5px 5px rgba(216, 179, 88, 0.3);
  border-width: 2px;
  border-style: solid;
  border-color: #D8B358;
}
.leistungen-paragraph {
  text-align: justify;
}
.title-top {
  text-align: center;
  padding: auto;
  font-weight: bold;
  margin-top: 80px;
  font-size: 50px;
  z-index: 300;
  border: solid;
  padding: 30px;
  border-color: #D8B358;
  border-left: none;
  border-right: none;
  margin-bottom: 0;
}
.termin-button {
  background-color: #D8B358;
  color: white;
  padding: 20px 35px 20px 35px;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}
.termin-button:hover {
  background-color: #d1a943;
}
.hoergeraet-block {
  display: flex;
  border-style: solid;
  border-color: #D8B358;
  border-width: 2px;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 40px;
}
.title-hinter-ohr {
  color: #D8B358;
  font-size: 23px;
  margin-bottom: 5px;
}
.termin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
  margin-bottom: 30px;
  border: solid;
  border-color: #D8B358;
  padding: 20px;
  border-right: none;
  border-left: none;
}
.termin-text-main {
  font-size: 34px;
  align-items: center;
  justify-content: center;
  color: #D8B358;
  margin-bottom: 20px;
  font-weight: bold;
}
.termin-button-main {
  font-size: 25px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #D8B358;
  padding: 17px 24px 17px 24px;
  border-radius: 10px;
  transition: background-color 0.3s;
}
.termin-button-main:hover {
  background-color: #d1a943;
}
.termin-button-main{
  position: relative;
  background-color: #D8B358;
  border-radius: 4em;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  cursor:pointer;
  user-select:none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s; /* Safari */
  border: none;
}

.termin-button-main:hover {
  transition-duration: 0.1s;
  background-color: #d3bb7e;
  border: none;
}

.termin-button-main:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px #D8B358;
  border: none;
}

.termin-button-main:active:after {
  box-shadow: 0 0 0 0 #D8B358;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top:0;
  opacity: 1;
  transition: 0s;
  border: none;
}

.termin-button-main:active {
  top: 1px;
  border: none;
}
.google-maps-location {
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.kontakt-text {
  text-align: center;
  margin-bottom: 50px;
}
.kontakt-title {
  font-size: 30px;
  color: #D8B358;
}
.kontakt-text {
  font-size: 30px;
  color: #D8B358;
}
.send-button {
  padding: 10px 23px 10px 23px;
  background-color: white;
  color: #D8B358;
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  transition: all 0.3s;
}
.send-button:hover {
  background-color: #D8B358;
  color: white;
}
.ueber-uns-text {
  margin-bottom: 25px;
  border: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-color: #D8B358;
  border-right: none;
  border-left: none;
  border-top: none;
  padding: 20px;
  margin-bottom: 40px;
}
.tm-company-img-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}
.text-block-container {
  margin-top: 0px;
}
.daniel-text {
  margin-bottom: -3px;
  color: #D8B358;
}
.fachausweis-text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  margin-left: 3px;
  text-align:justify;
}
.quali-text {
  margin-top: 25px;
}
.text-decoration {
  color: #D8B358;
  font-weight: bold;
}
.text-block-container2 {
  margin-top: 55px;
}
.text-block-container3 {
  margin-top: 55px;
}
.individuell-text {
  margin-top: 20px;
}
.infos {
  position: absolute;
  top: 20px;
  left: 20px;
}
@media (max-width: 1100px) {
  .infos,
  .social-media {
    opacity: 0;
  }
}
.icon-container {
  display: flex;
  text-align: center;
  align-items: center;
  margin-right: 20px;
}
.brand-container {
  padding: 30px;
  display: flex;
}
.brand-img {
  padding: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.widex-img {
  margin-left: -40px;
}
.widex-container {
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.datenschutz-link {
  margin-right: 30px;
}
.kontakt-daten {
  display: flex;
}
.oeffungszeiten,
.adresse {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 200px;
  font-size: 19px;
  white-space: nowrap;
  font-weight: bold;
}
.tel {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 19px;
  font-weight: bold;
}
.samstag {
  margin-left: -20px;
}
.vier-schritte-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding-left: 200px;
  padding-right: 200px;

}
.vier-schritte-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 23px;
  padding-right: 23px;
}
.vier-schritte-sub-container h2 {
  font-size: 30px;
}
.vier-schritte-icons {
  height: 80px;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  white-space: nowrap;
}
@media (max-width: 1100px) {
  .vier-schritte-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .vier-schritte-icons {
    height: 50px ;
  }
  .vier-schritte-sub-container h2 {
    font-size: 20px;
  }
}
.vier-schritte-gut-hoeren {
  display: flex;
  flex: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  color: #D8B358;
  font-weight: bold;
  margin-bottom: 40px;
}
/* Smartphone */
@media (max-width: 700px) {
  .vier-schritte-container {
    display: inline-block;
    padding: 10px;
  }
  .tm-feature-block {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .termin-text-main {
    text-align: center;
  }
  .hoergeraet-block {
    display: block;
  }
  .im-ohr-img,
  .hinter-ohr-img {
    height: 90px;
    margin-top: 0;
  }
  .im-ohr-img {
    margin-bottom: 10px;
  }
  .brand-img {
    height: 120px;
    padding: 10px;
  }
  .widex-img {
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .title-zubehoer {
    font-size: 27px;
  }
  .tm-company-img-container img {
    display: inline-block;
    height: 300px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .tm-company-img-container {
    display: flex;
    flex-direction: column;
  }
  .text-block-container,
  .text-block-container2,
  .text-block-container3 {
    width: 350px;
    justify-items: justify;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .text-block-container2 {
    margin-bottom: 10px;
  }
  .quali-text,
  .individuell-text,
  .text-im-ohr {
    text-align: justify;
  }
  .tm-contact-form-container,
  .tm-contact-section {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    max-width: 350px;
  }
  .tm-contact-header {
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .google-maps-location {
    height: 350px;
    width: 350px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .daniel-text {
    font-size: 35px;
  }
  .fachausweis-text {
    font-size: 18px;
  }
  .kontakt-daten {
    display: flex;
    flex-direction: column;
  }
  .logo-picture {
    height: 90px;
  }
  .title-firma {
    font-size: 25px;
  }
  .mass-text {
    font-size: 16px;
  }

  @media (max-width: 500px) {
    .vier-schritte-container {
      display: inline-block;
      padding: 10px;
    }
    .tm-feature-block {
      width: auto;
      margin-left: 15px;
      margin-right: 15px;
    }
    .termin-text-main {
      text-align: center;
    }
    .hoergeraet-block {
      display: block;
    }
    .im-ohr-img,
    .hinter-ohr-img {
      height: 90px;
      padding: 0;
    }
    .im-ohr-img {
      margin-bottom: 10px;
      margin-top: 0;
    }
    .brand-img {
      height: 110px;
      padding: 10px;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
    .widex-img {
      height: 110px;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
    .tm-company-img-container img {
      display: block;
      height: 230px;
      margin-bottom: 30px;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .tm-company-img-container {
      display: block;
    }
    .text-block-container,
    .text-block-container2,
    .text-block-container3 {
      width: 320px;
      justify-items: justify;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
    .text-block-container2 {
      margin-bottom: 10px;
    }
    .daniel-text {
      font-size: 33px;
    }
    .fachausweis-text {
      font-size: 16px;
    }
    .quali-text,
    .individuell-text,
    .text-im-ohr {
      text-align: justify;
    }
    .tm-contact-form-container,
    .tm-contact-section {
      width: 330px;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      justify-content: center;
    }
    .tm-company-img-container {

    }
    .tm-contact-header {
      text-align: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
    .google-maps-location {
      height: 350px;
      width: 350px;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
  
    .kontakt-daten {
      display: flex;
      flex-direction: column;
    }
    .logo-picture {
      height: 90px;
    }
    .title-firma {
      font-size: 25px;
    }
    .mass-text {
      font-size: 16px;
    }
  }
}
/*
.container {
  z-index: 200;
}
.tm-nav-section {
  z-index: 200;
}
.tm-banner-section {
  z-index: 200;
}
*/